body{

font-family: arial;


background-image: url('images/blktle.png');
}
#main{
    padding: 30px;
    background-color: rgb(255, 250, 242);
    width: 90%;
    max-width: 800px;
    margin: auto;


}
